<h1>Прогноза за следващите дни</h1>
<div class="container row">
    <div class="card text-center mr-5 mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Сряда</h5>
        <hr>
        <img class="card-img-top" src="icons/5.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">10&deg;C / 21&deg;C</li>
        </ul>
        <div class="card-body" style="height: 17rem">
            <p class="card-text">В сряда ще има променлива облачност, но само на отделни места ще превали и прегърми. Ще духа слаб вятър от ССИ. Минималните температури ще са от 8 до 13 градуса, а максималните 19-24 градуса, по-ниски ще са по южното Черноморие и по носовете.</p>
        </div>
    </div>
    <div class="card text-center mr-5 mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Четвъртък</h5>
        <hr>
        <img class="card-img-top" src="icons/9.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">12&deg;C / 19&deg;C</li>
        </ul>
        <div class="card-body" style="height: 17rem">
            <p class="card-text">В четвъртък ще има променлива облачност, главно в ЗБ и ИБ ще има краткотрайни валежи с гръмотевици в слеодбедните часове. Ще духа умерен вятър от север. Минималните температури ще са 10-15 градуса, а максималните 17-22 градуса. </p>
        </div>
    </div>
    <div class="card text-center mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Петък</h5>
        <hr>
        <img class="card-img-top" src="icons/9.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">9&deg;C / 15&deg;C</li>
        </ul>
        <div class="card-body" style="height: 17rem">
            <p class="card-text">През нощта срещу петък и в сутрешните часове на петък в ИБ ще има силни гръмотевични бури, проливни валежи и възможни градушки. Ще духа силен вятър от ССИ, който привечер ще отслабва. Минималните температури ще са 7-12 градуса, а максималните 13-18 градуса.</p>
        </div>
    </div>
</div>
