<h1>
    Прогноза за днес</h1>
<article>

    <!--
    <div class="card text-center">
                <div class="card-header">
                    <ul  id="cardnavigation" class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="bgtab" href="#bg" data-target="#bg" data-toggle="tab" role="tab">България</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="seatab" href="#sea" data-target="sea" data-toggle="tab" role="tab">Черноморие</a>
                        </li>
                    </ul>
                </div>
                <div id="#wow" class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <div id="bg" class="tab-pane active" role="tabpanel" aria-labelledby="bgtab">With supporting text below as a natural lead-in to additional content.</div>
                    <div id="sea" class="tab-pane" role="tabpanel" aria-labelledby="seatab">With supporting text below as a natural lead-in to additional content.</div>
                </div>
            </div>
-->
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">България</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Черноморие</a>
        </div>
    </nav>
    <div class="tab-content forecast" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">През нощта заоблачаването ще продължава. През деня ще преобладава облачно време, в следобедните часове на места в западните и планинските райони ще превали крткотраен дъжд, възможно е и да прегърми. Ще духа умерен вятър от източната четвърт. Максималните темпереатури ще са предимно от 17 до 24 градуса, малко по-ниски ще се задържат по крайбрежието на морето. Атмосферното налягане ще бъде малко над средното.</div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">По Черноморието през нощта и рано сутринта все още по южното крайбрежие ще има мъгла, но през деня бързо ще се разсее и там. Ще има променлива, често значителна облачност. Ще духа умерен вятър от изток. Максималните температури ще са 13-14 градуса. Вълнението на морето ще бъде 2-3 бала, а температуарата на морската вода ще е 11-13 градуса.</div>
    </div>

</article>
<div class="first row">

</div>

<script src="script/today.js"></script>
