<h1>Прогноза за утре</h1>
<article>
     <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-bg-tab" data-toggle="tab" href="#nav-bg" role="tab" aria-controls="nav-bg" aria-selected="true">България</a>
            <a class="nav-item nav-link" id="nav-sea-tab" data-toggle="tab" href="#nav-sea" role="tab" aria-controls="nav-sea" aria-selected="false">Черноморие</a>
        </div>
    </nav>
    <div class="tab-content forecast" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-bg" role="tabpanel" aria-labelledby="nav-bg-tab">През нощта в ЗБ и ЦБ на места ще има слаби превалявания. През деня ще има значителна облачност и отново на места в ЗБ и ЦБ ще има краткотрайни и слаби превалявания. Ще духа слаб вятър от СИ. Повече слънчеви часове ще има над южните райони от страната в слеодбедните часове. Максималните температури ще са предимно от 16 до 21 градуса. Атмосферното налягане ще се задържи без съществена промяна.</div>
        <div class="tab-pane fade" id="nav-sea" role="tabpanel" aria-labelledby="nav-sea-tab">По Черноморието ще има значителна облачност с условия за повече слънчеви часове следобед по южното крайбрежие. Ще духа слаб вятър от СИ. Макисмалните температури ще са 13-17 градуса. Вълнението на морето ще бъде 2-3 бала.</div>
    </div>
</article>
<div class="cities row"></div>
<script src="script/tomorrow.js"></script>