<h1>Прогноза за следващите дни</h1>
<div class="container row">
    <div class="card text-center mr-5 mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Петък</h5>
        <hr>
        <img class="card-img-top" src="icons/6.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">10&deg;C / 16&deg;C</li>
        </ul>
        <div class="card-body" style="height: 17rem">
            <p class="card-text">В петък ще има променлива, често значителна облачност. През целия ден има условия за краткотрайни валежи над цялата страна. Ще се усили вятърът от север, особено в ИБ и ще бъде силен. Минималните температури ще са 8-13 градуса, а максималните 14-19 градуса. </p>
        </div>
    </div>
    <div class="card text-center mr-5 mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Събота</h5>
        <hr>
        <img class="card-img-top" src="icons/3.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">7&deg;C / 19&deg;C</li>
        </ul>
        <div class="card-body" style="height: 17rem">
            <p class="card-text">В събота ще преобладава слънчево време, с дневен ход ще се образува купеста облачност, но само на отделни места в ИБ е възможно краткотрайно да превали. Ще духа слаб СЗ-ен вятър, по-късно ще се обърне от ЮЗ. Минималните температури ще са 5-10 градуса, а максималните 17-22 градуса. </p>
        </div>
    </div>
    <div class="card text-center mb-2" style="width: 18rem;">
        <h5 class="card-title m-auto">Неделя</h5>
        <hr>
        <img class="card-img-top" src="icons/2.gif" alt="Card image cap">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">9&deg;C / 23&deg;C</li>
        </ul>
        <div class="card-body" style="height: 17rem">
            <p class="card-text">В неделя ще бъде слънчево с незначителна купеста облачност. Ще духа слаб вятър от западната четвърт. Минималните температури ще са 7-12 градуса, а максималните 21-26 градуса.</p>
        </div>
    </div>
</div>
